a {
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: black;
  font-weight: 525;
  line-height: 1.45em;
}

#img-zoom-in {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

#img-zoom-in:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
